#page{
  width: calc(100% - 40px);
  margin: 10px 0 10px 20px;
}

#header{
  width: 100%;
  height:60px;
  background-color: #eee;
  border: 1px solid #ddd;
  margin-bottom:10px;
}

#content{
  width: 100%;
  height:200px;
  margin-bottom:10px;
  border: 1px solid #ddd;
}

#footer{
  width: 100%;
  height:60px;
  background-color: #eee;
  border: 1px solid #ddd;
}

h1 {
  font-size: 12pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #336;
}